{% set linkStyles = 'text-base font-medium text-white hover:text-slate-400' %}

<footer class="bg-slate-900">
    <div class="overflow-hidden px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
            {% for item in navigation.footerMenu.all() %}
                <div class="px-5 py-2">
                    <a href="{{ item.url() }}" class="{{ linkStyles }}">
                        {{ item.title }}
                    </a>
                </div>
            {% endfor %}
        </nav>
        <p class="mt-8 text-base text-center text-slate-400">
            &copy; {{ now|date('Y') }} {{ craft.app.sites.currentSite.group.name() }} -
            <a href="https://mikesnoeren.com" target="_blank" class="hover:text-white">A website by Mike Snoeren</a>
        </p>
    </div>
</footer>
